{% extends "base.html" %}

{% block title %}BGM - Calendar{% endblock title %} 

<!--Calendar Page Content --> 
{% block content %}

<div class="panel panel-default">
  <div class="panel-body">
	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  Calendar  <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>
    <div style="text-align: center">
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=700&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=bgmwebsite%40gmail.com&amp;color=%231B887A&amp;src=atenveldt.org_4quknk707t2jhjn1res49r5o4o%40group.calendar.google.com&amp;color=%23182C57&amp;src=%23contacts%40group.v.calendar.google.com&amp;color=%2328754E&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;src=atenveldt.org_5fp7k3tgbl0duatv6tbntgng84%40group.calendar.google.com&amp;color=%232F6309&amp;src=atenveldt.org_c935ilig9gl2j2psmcaqhs5i9k%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FPhoenix" style=" border-width:0 " width="100%" height="700" frameborder="0" scrolling="no"></iframe>
    </div>
	</div>
</div>

{% endblock %}