{% extends "base.html" %}

{% block title %}BGM - Home{% endblock title %}

<!--Home Page Content -->
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
        	<div  style="text-align: justify; max-width:60em; margin:auto; padding:0 1em;">
            <img src="/static/images/banner.jpg" style="width: 100%; border  : 1px solid #505050;" alt="..." class="img-rounded">

            <p><br>
                Greetings from the Seventh Wonder of Atenveldt!
            </p>

            <p>
                Their Excellencies Baron Asrikr and Baroness Jacomina bid you Welcome to the website for the Barony of Granite Mountain. Our local chapter of the Society of Creative Anachronism (SCA), lies within the Northlands of state of Arizona and encompasses Prescott, Prescott Valley, Chino Valley, Cottonwood, Camp Verde and surrounding areas.
            </p>

            <p>
                The SCA is an international organization dedicated to the research and re-creation of the arts and skills of pre-16th-century Europe. Populace members dress in clothing of the Middle Ages and attend events which feature tournaments, royal courts, feasts, dancing, various classes & workshops, and so much more. If you are new to the SCA, please check out the <a href="http://welcome.sca.org/" target="_blank">SCA Newcomer’s Portal</a>. You can also contact our Baronial Chatelaine who can help you on your way. Whether you are new to the SCA or just to our area we gladly welcome you to Granite Mountain.
            </p>
            <p>
            The Barony holds combined Armored and Rapier practices as well as Archery practice twice monthly. Arts and Sciences nights and Baronial Scriptoriums are held every month. The Barony also holds regular Arts and Sciences workshops in various mediums. On the last Thursday of the month the Barony holds a monthly Populace Meeting & Court Night. This is a great place to learn what is happening locally and to socialize with other members of the Barony. For additional up to date information about Baronial activities, please check our <a href="/calendar">Calendar</a>.
            </p>
            
            <p>
            We are the Granite, We are the Stone, We are the family that calls the Mountain Home. <a href="/history/#anchorlink1" style="font-style:italic">(Full Song Lyrics Here)</a>
            </p>
            </div>
        </div>
    </div>



{% endblock %}

