{% extends "base.html" %}

{% block title %}BGM - Links{% endblock title %}

<!--Links Page Content -->
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
                           	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  Links  <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>
                            
	<table class="table table-striped">
		<thead>
			<tr>
			<th>Links</th>
            </tr>
		</thead>
        <tbody>
        	<tr>
            	<td><a href="http://www.sca.org/" target="_blank">Society for Creative Anachronism</a></td>
            </tr>
			<tr>
            	<td><a href="http://www.atenveldt.org/" target="_blank">Kingdom of Atenveldt</a></td>
            </tr>
        </tbody>
	</table>
        
        <table class="table table-striped">
		<thead>
			<tr>
			<th>Lands of Atenveldt (All groups)</th>
            <th class="col-md-6"></th>
            </tr>
		</thead>
        <tbody>
        	<tr>
            	<td><a href="http://www.baronyofatenveldt.org/" target="_blank">Barony of Atenveldt</a> - Central Metro Phoenix, AZ</td>
				<th></th>
            </tr>
			<tr>
            	<td><a href="http://www.baronyoferedsul.org/" target="_blank">Barony of Ered Sul</a> - Flagstaff and Williams, AZ</td>
				<th></th>
            </tr>
            <tr>
            	<td><a href="http://www.granitemountain.org/" target="_blank">Barony of Granite Mountain</a> - Prescott, AZ</td>
                <td><a href="https://www.facebook.com/groups/464028047078641/" target="_blank">Bagdad</a> - Bagdad, AZ</td>
            </tr>
            <tr>
            	<td><a href="http://sundragon.atenveldt.org/" target="_blank">Barony of SunDragon</a> - West Metro Phoenix, AZ</td>
				<th></th>
            </tr>
            <tr>
            	<td><a href="http://www.btysca.org/" target="_blank">Barony of Tir Ysgithr</a> - Tucson, AZ</td>
				<th></th>
            </tr>
            <tr>
            	<td><a href="http://www.baronyoftwinmoons.org/" target="_blank">Barony of Twin Moons</a> - East Metro Phoenix, AZ</td>
				<th></th>
            </tr>
            <tr>
            	<td><a href="http://atenveldt.org/Lands/CentralAtenveldt/BrymstoneCollege" target="_blank">College of Brymstonne</a> - Arizona State University, Tempe, AZ</td>
				<th></th>
            </tr>
            <tr>
            	<td><a href="http://clubs.arizona.edu/~stfelix/" target="_blank">College of Saint Felix</a> - University of Arizona, Tucson, AZ</td>
				<th></th>
            </tr>
            <tr>
            	<td><a href="http://atenveldt.org/Lands/NorthernAtenveldt/CollegeofSanktVladimir" target="_blank">College of Sankt Vladimir</a> - Northern Arizona University, Flagstaff, AZ</td>
				<th></th>
            </tr>
            <tr>
            	<td><a href="http://atenveldt.org/Lands/SouthernAtenveldt/MarchofWealhnutu" target="_blank">March of Wealhhnutu</a> - Rio Rico, AZ</td>
				<th></th>
            </tr>
            <tr>
            	<td><a href="http://atenveldt.org/Lands/SouthernAtenveldt/ShireofBurningSands" target="_blank">Shire of Burning Sands</a> - Yuma, AZ</td>
				<th></th>
            </tr>
            <tr>
            	<td><a href="http://atenveldt.org/Lands/SouthernAtenveldt/ShireofGranholme" target="_blank">Shire of Granholme</a> Casa Grande, AZ</td>
				<th></th>
            </tr>
            <tr>
            	<td><a href="http://atenveldt.org/Lands/NorthernAtenveldt/ShireofWindale" target="_blank">Shire of Windale</a> - Kingman, AZ</td>
				<th></th>
            </tr>
        </tbody>
        </table>
        
	<table class="table table-striped">
		<thead>
			<tr>
			<th>Major Events</th>
            </tr>
		</thead>
        <tbody>
        	<tr>
            	<td><a href="http://estrellawar.org/" target="_blank">Estrella War</a> - Kingdom of Atenveldt, February</td>
            </tr>
 			<tr>
            	<td><a href="http://highlandswar.org/" target="_blank">Highlands War</a> - Barony of Ered Sul, Kingdom of Atenveldt, July</td>
            </tr>
            <tr>
            	<td><a href="http://www.southerncrusades.org/" target="_blank">Southern Crusades</a> - Barony of Tir Ysgithr, Barony of Mons Tonitrus, Kingdom of Atenveldt, November</td>
            </tr>
        </tbody>
	</table>
        </div>
    </div>
{% endblock %}
