{% extends "base.html" %}

{% block title %}BGM - The Ermine Spot{% endblock title %}

<!--Newsletter Page Content -->
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body" style="text-align:center;">
               	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px"> The Ermine Spot <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>
        
        <iframe style="text-align: center;" src="https://drive.google.com/embeddedfolderview?id=0B-81zE4uiGXTeEFWZUpCMU9nYXc&usp=sharing#list" width="100%" height="600" frameborder="0"></iframe> 
        </div>       
    </div>
{% endblock %}