{% extends "base.html" %}

{% block title %}BGM - Officers{% endblock title %} 

 
{% block content %}
<!--Calendar Page Content -->
<div class="panel panel-default">
  	<div class="panel-body">
    	<div  style="max-width:60em; margin:auto; padding:0 1em;">
    	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  Officers  <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>
        
        <table class="table table-striped">
            <thead>
                <tr>
                	<th></th>
                    <th>Officer:</th>
                    <th>Deputies:</th>
                </tr>
    		</thead>
            <!-- Officer positions listed here -->
            <tbody>
                <tr>
                	<td><img src="/static/images/BGMLogo-sm.png" style="height: 90px;"></td>
                    <td><label>Baron and Baroness</label><br>Baron Asrikr and Baroness Jacomina</br>Adam and Sada Davenport<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01xxCejG0QGdcwG2dIuLPozQ==&amp;c=DurbBoGDcM6skrTL84feOUlooFgC831GU0rRK4GnexQ=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501xxCejG0QGdcwG2dIuLPozQ\75\75\46c\75DurbBoGDcM6skrTL84feOUlooFgC831GU0rRK4GnexQ\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmcor...</a>@gmail.com</td>
                    <td></td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/seneschal.png" style="height: 70px;"></td>
                    <td><label>Seneschal</label><br>Lady Rose Elizabeth Weaver<br>Vanessa Martin<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01hgLYw8F4e94oMJYQuPnqlQ==&amp;c=ReX_0QEqGDeKsxifsS8fH-_ehi0LFPs4oec6V8iB45U=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501hgLYw8F4e94oMJYQuPnqlQ\75\75\46c\75ReX_0QEqGDeKsxifsS8fH-_ehi0LFPs4oec6V8iB45U\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bogmsen...</a>@gmail.com</td>
                    <td><label>Deputy Seneschal</label><br>HE Master Conor de Carlton<br>Mike Dever<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01hgLYw8F4e94oMJYQuPnqlQ==&amp;c=ReX_0QEqGDeKsxifsS8fH-_ehi0LFPs4oec6V8iB45U=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501hgLYw8F4e94oMJYQuPnqlQ\75\75\46c\75ReX_0QEqGDeKsxifsS8fH-_ehi0LFPs4oec6V8iB45U\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bogmsen...</a>@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/exchequer.png" style="height: 70px;"></td>
                    <td><label>Exchequer</label><br>Lady Ros inghean Ui Ghallchobhair<br>Kaci Jo Overs<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01PwwMdfYxMyqvjr-HGMJeCA==&amp;c=wwvKSkMbwt-rU6S1Mtuli7khA8Zzh_-AGrEpOZBArYk=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501PwwMdfYxMyqvjr-HGMJeCA\75\75\46c\75wwvKSkMbwt-rU6S1Mtuli7khA8Zzh_-AGrEpOZBArYk\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">exchequ...</a>@gmail.com</td>
                    <td><label>Deputy Exchequer</label><br>Vacant<br><br><a href="http://www.google.com/recaptcha/mailhide/d?k=01PwwMdfYxMyqvjr-HGMJeCA==&amp;c=wwvKSkMbwt-rU6S1Mtuli7khA8Zzh_-AGrEpOZBArYk=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501PwwMdfYxMyqvjr-HGMJeCA\75\75\46c\75wwvKSkMbwt-rU6S1Mtuli7khA8Zzh_-AGrEpOZBArYk\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">exchequ...</a>@gmail.com</td>
                </tr>
                <te>
                	<td><img src="/static/images/officer_badges/heralds.png" style="height: 70px;"></td>
                    <td><label>Herald (Voice)</label><br>HE Sir Brian Winterborn<br>Brian Cole<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01mYfnfc_ZbpA3NOt3YJxDog==&amp;c=9c-UV9dIOMI7QyAzchBX13tnDGJ7l4i7tivkYDWGHYI=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501mYfnfc_ZbpA3NOt3YJxDog\75\75\46c\759c-UV9dIOMI7QyAzchBX13tnDGJ7l4i7tivkYDWGHYI\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmh...</a>@gmail.com</td>
                    <td><label>Deputy Herald (Book/Submissions)</label><br>Vacant<br><br><a href="http://www.google.com/recaptcha/mailhide/d?k=01mYfnfc_ZbpA3NOt3YJxDog==&amp;c=9c-UV9dIOMI7QyAzchBX13tnDGJ7l4i7tivkYDWGHYI=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501mYfnfc_ZbpA3NOt3YJxDog\75\75\46c\759c-UV9dIOMI7QyAzchBX13tnDGJ7l4i7tivkYDWGHYI\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmh...</a>@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/earlmarshal.png" style="height: 70px;"></td>
                    <td><label>Marshal (Armored Combat)</label><br>Sir al-Haddad ibn 'Abd al-Jabbar<br>Daniel David<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01xxCejG0QGdcwG2dIuLPozQ==&amp;c=JLRyQYyUy39xqbsQsx0mXET3Mk1BXRD2oVPJWqENLtY=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501xxCejG0QGdcwG2dIuLPozQ\75\75\46c\75JLRyQYyUy39xqbsQsx0mXET3Mk1BXRD2oVPJWqENLtY\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmm...</a>@gmail.com</td>
                    <td><label>Deputy Marshal (Armored Combat)</label><br>Vacant<br><br><a href="http://www.google.com/recaptcha/mailhide/d?k=01xxCejG0QGdcwG2dIuLPozQ==&amp;c=JLRyQYyUy39xqbsQsx0mXET3Mk1BXRD2oVPJWqENLtY=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501xxCejG0QGdcwG2dIuLPozQ\75\75\46c\75JLRyQYyUy39xqbsQsx0mXET3Mk1BXRD2oVPJWqENLtY\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmm...</a>@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/rapier.png" style="height: 70px;"></td>
                    <td><label>Rapier Marshal</label><br>THL Jacket Tyllyng<br>Chad Wheeler<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01hgLYw8F4e94oMJYQuPnqlQ==&amp;c=6MffrRr2r5qEbkKfV4sQW0JBPGAp5uxflsmwN-SWYhU=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501hgLYw8F4e94oMJYQuPnqlQ\75\75\46c\0756MffrRr2r5qEbkKfV4sQW0JBPGAp5uxflsmwN-SWYhU\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmra...</a>@gmail.com</td>
                    <td><label>Deputy Rapier Marshal</label><br>Lord Kitajima Ichirou Machiyasu<br>Matt Supulver<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01hgLYw8F4e94oMJYQuPnqlQ==&amp;c=6MffrRr2r5qEbkKfV4sQW0JBPGAp5uxflsmwN-SWYhU=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501hgLYw8F4e94oMJYQuPnqlQ\75\75\46c\0756MffrRr2r5qEbkKfV4sQW0JBPGAp5uxflsmwN-SWYhU\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmra...</a>@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/archery.png" style="height: 70px;"></td>
                    <td><label>Archery Marshal (Baronial Captain of Archery)</label><br>Lord Pól Ó Coileáin<br>Jim Coile<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01PwwMdfYxMyqvjr-HGMJeCA==&amp;c=Y51EkMCMI1E8IfvO5-vcOZXuBehIjGxpk80vifobUuk=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501PwwMdfYxMyqvjr-HGMJeCA\75\75\46c\75Y51EkMCMI1E8IfvO5-vcOZXuBehIjGxpk80vifobUuk\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmarch...</a>@gmail.com</td>
                    <td><label>Deputy Archery Marshal (Lieutenant of Archery)</label><br>Vacant<br><br><a href="http://www.google.com/recaptcha/mailhide/d?k=01PwwMdfYxMyqvjr-HGMJeCA==&amp;c=Y51EkMCMI1E8IfvO5-vcOZXuBehIjGxpk80vifobUuk=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501PwwMdfYxMyqvjr-HGMJeCA\75\75\46c\75Y51EkMCMI1E8IfvO5-vcOZXuBehIjGxpk80vifobUuk\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmarch...</a>@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/aNs.png" style="height: 70px;"></td>
                    <td><label>Minister of Arts and Sciences</label><br>Lord Crow Joyfire<br>Michael Sheedy<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01mYfnfc_ZbpA3NOt3YJxDog==&amp;c=kjvluD4AdSk5_l9YvGckewlzC53DQxl_6NuWq6NTlXI=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501mYfnfc_ZbpA3NOt3YJxDog\75\75\46c\75kjvluD4AdSk5_l9YvGckewlzC53DQxl_6NuWq6NTlXI\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmasm...</a>@gmail.com</td>
                    <td><label>Deputy Minister of Arts and Sciences</label><br>Vacant<br><br><a href="http://www.google.com/recaptcha/mailhide/d?k=01mYfnfc_ZbpA3NOt3YJxDog==&amp;c=kjvluD4AdSk5_l9YvGckewlzC53DQxl_6NuWq6NTlXI=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501mYfnfc_ZbpA3NOt3YJxDog\75\75\46c\75kjvluD4AdSk5_l9YvGckewlzC53DQxl_6NuWq6NTlXI\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmasm...</a>@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/chronicler.png" style="height: 70px;"></td>
                    <td><label>Chronicler</label><br>Lady Laura<br>Laura Marr Mittlestadti<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01xxCejG0QGdcwG2dIuLPozQ==&amp;c=TwBPsRqeajW_c8xPVDHe-thrn2lGI5Udy1eNy4Fi0MM=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501xxCejG0QGdcwG2dIuLPozQ\75\75\46c\75TwBPsRqeajW_c8xPVDHe-thrn2lGI5Udy1eNy4Fi0MM\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmchro...</a>@gmail.com</td>
                    <td><label>Deputy Chronicler</label><br><br><br><a href="http://www.google.com/recaptcha/mailhide/d?k=01xxCejG0QGdcwG2dIuLPozQ==&amp;c=TwBPsRqeajW_c8xPVDHe-thrn2lGI5Udy1eNy4Fi0MM=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501xxCejG0QGdcwG2dIuLPozQ\75\75\46c\75TwBPsRqeajW_c8xPVDHe-thrn2lGI5Udy1eNy4Fi0MM\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmchro...</a>@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/chatelaine.png" style="height: 70px;"></td>
                    <td><label>Chatelaine</label><br>Lady Emma Mordeboice<br>Erin Yunk Holloway<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01hgLYw8F4e94oMJYQuPnqlQ==&amp;c=Qjs_Kjcy_qUA_tTcEoA-AeJXyaAllajSmFARHDEBWo8=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501hgLYw8F4e94oMJYQuPnqlQ\75\75\46c\75Qjs_Kjcy_qUA_tTcEoA-AeJXyaAllajSmFARHDEBWo8\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmchat...</a>@gmail.com</td>
                    <td><label>Deputy Chatelaine</label><br>Vacant<br>&nbsp;<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01hgLYw8F4e94oMJYQuPnqlQ==&amp;c=Qjs_Kjcy_qUA_tTcEoA-AeJXyaAllajSmFARHDEBWo8=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501hgLYw8F4e94oMJYQuPnqlQ\75\75\46c\75Qjs_Kjcy_qUA_tTcEoA-AeJXyaAllajSmFARHDEBWo8\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmchat...</a>@gmail.com</td>
                </tr>
                <tr>
                	<td></td>
                    <td><label>Signet</label><br>HE Mistress Elsbeth von Sonnenthal<br>Jeri Bullins<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01K-tsrxO4XA2H6nUnLcYPXQ==&amp;c=ZOE32vzKJiRH33YlBHvpH9N8uRJW8kEq3QdpMi2PLI8=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501K-tsrxO4XA2H6nUnLcYPXQ\75\75\46c\75ZOE32vzKJiRH33YlBHvpH9N8uRJW8kEq3QdpMi2PLI8\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bogsi...</a>@gmail.com</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/sheriff.png" style="height: 70px;"></td>
                    <td><label>Sheriff</label><br>Vacant<br><br><a href="http://www.google.com/recaptcha/mailhide/d?k=01mYfnfc_ZbpA3NOt3YJxDog==&amp;c=IEA8mvwr3sKsE1rIM4XaSE6UXawPz_RMV6Z5vcnGMLo=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501mYfnfc_ZbpA3NOt3YJxDog\75\75\46c\75IEA8mvwr3sKsE1rIM4XaSE6UXawPz_RMV6Z5vcnGMLo\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmshe...</a>@gmail.com</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/list.png" style="height: 70px;"></td>
                    <td><label>List</label><br>Vacant<br>&nbsp;<br>&nbsp;</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
                <tr>
                	<td>&nbsp;</td>
                    <td><label>Waiver Secretary</label><br>Lady Maggie of Granite Mountain<br>Margie Supulver<br><a href=<a href="http://www.google.com/recaptcha/mailhide/d?k=01C2kG9Mz9tXK_ukr0QJUjxw==&amp;c=7dPDYF3l-hxmsOyN9DmikzMiqurjc5dtsJmBWJsCkow=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501C2kG9Mz9tXK_ukr0QJUjxw\75\75\46c\0757dPDYF3l-hxmsOyN9DmikzMiqurjc5dtsJmBWJsCkow\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmwa...</a>@gmail.com</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/kids.png" style="height: 70px;"></td>
                    <td><label>Youth Minister</label><br>Vacant<br>&nbsp;<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01hgLYw8F4e94oMJYQuPnqlQ==&amp;c=MMYargZzcVmHpDhcDys_TW36cZNUyt6tZPvewzPppVQ=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501hgLYw8F4e94oMJYQuPnqlQ\75\75\46c\75MMYargZzcVmHpDhcDys_TW36cZNUyt6tZPvewzPppVQ\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmyou...</a>@gmail.com</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
                <tr>
                	<td><img src="/static/images/officer_badges/webminister.png" style="height: 70px;"></td>
                    <td><label>Web Minister</label><br>Lord Kristoforus Jafnkollr<br>Kristopher Bullins<br><a href="http://www.google.com/recaptcha/mailhide/d?k=01PwwMdfYxMyqvjr-HGMJeCA==&amp;c=qFsZ0tYfpoeV1Cs8KX4DLXase3GeBVx3O9ozuOjVR_I=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501PwwMdfYxMyqvjr-HGMJeCA\75\75\46c\75qFsZ0tYfpoeV1Cs8KX4DLXase3GeBVx3O9ozuOjVR_I\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">bgmweb...</a>@gmail.com</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        </div>
	</div>
</div>
<!--End Page Content -->
{% endblock %}
