{% extends "base.html" %}

{% block title %}BGM - Populace Meeting/Court Night{% endblock title %}

<!--Populace Meeting/Court Night Page Content -->
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
                           	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  Populace Meeting / Court Night  <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>
        </div>
    </div>
{% endblock %}
