{% extends "base.html" %}

{% block title %}BGM - Rapier Combat{% endblock title %}

<!--Rapier Combat Page Content -->
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
                           	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  Rapier Combat  <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>
                            
        </div>
    </div>
{% endblock %}
