{% extends "base.html" %}

{% block title %}BGM - Baronial Champions{% endblock title %} 

 
{% block content %}
<!--Champions Page Content -->
<div class="panel panel-default">
  	<div class="panel-body">
    <div  style="max-width:45em; margin:auto; padding:0 1em;">  
        	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  Baronial Champions 2016 <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>

        <table class="table table-striped" >
            <thead>
                <tr>
                	<!--<th></th>-->
                    <th><img src="/static/images/champs.png" style="position: absolute; width: 70px; margin-left: -93px; margin-top: 7px">
                    	<img src="/static/images/champs.png" style="position: absolute; width: 70px; margin-left: 610px; margin-top: 7px"></th>

                </tr>
    		</thead>
            <tbody style="text-align: center">
                <tr>
                	<!--<td><img src="\static\images\BGMLogo-sm.png" style="height: 80px;"></td>-->
                    <td>
                        <h3 style="white-space:nowrap">Baronial Armored Combat Champion</h3><div style="text-align:center; background-color: #284628; color: #fff; padding-top: 20px; padding-bottom: 20px; padding-left: 2px; padding-right: 2px" class="img-rounded">Image<br />Coming Soon!!</div><br /><h4>M'lord Wingnaut Nordman</h4>
                    </td>

                </tr>
                <tr>
                    <td><h3 style="white-space:nowrap">Baronial Rapier Champion</h3><div style="text-align:center; background-color: #284628; color: #fff; padding-top: 20px; padding-bottom: 20px; padding-left: 2px; padding-right: 2px" class="img-rounded">Image<br />Coming Soon!!</div><!--<img src="/static/images/champs.png">--><br /><h4>Lady Caiterína MacCraith</h4>
                </td>

                </tr>
                <tr>
                    <td><h3 style="white-space:nowrap">Baronial Cut and Thust Champion</h3><div style="text-align:center; background-color: #284628; color: #fff; padding-top: 20px; padding-bottom: 20px; padding-left: 2px; padding-right: 2px" class="img-rounded">Image<br />Coming Soon!!</div><!--<img src="/static/images/champs.png">--><br /><h4>HL Wade Greenwall</h4>
                </td>

                </tr>
                <tr>
                    <td><h3 style="white-space:nowrap">Baronial Thrown Weapons Champion</h3><div style="text-align:center; background-color: #284628; color: #fff; padding-top: 20px; padding-bottom: 20px; padding-left: 2px; padding-right: 2px" class="img-rounded">Image<br />Coming Soon!!</div><!--<img src="/static/images/champs.png">--><br /><h4>Lady Lilias Marr</h4></td>

                </tr>
                <tr>
                    <td><h3 style="white-space:nowrap">Baronial Archery Champion (Handbow)</h3><div style="text-align:center; background-color: #284628; color: #fff; padding-top: 20px; padding-bottom: 20px; padding-left: 2px; padding-right: 2px" class="img-rounded">Image<br />Coming Soon!!</div><!--<img src="/static/images/champs.png">--><br /><h4>Lady Camere de Misericordia</h4></td>

                </tr>
                <tr>
                    <td><h3 style="white-space:nowrap">Baronial Archery Champion (Crossbow)</h3><div style="text-align:center; background-color: #284628; color: #fff; padding-top: 20px; padding-bottom: 20px; padding-left: 2px; padding-right: 2px" class="img-rounded">Image<br />Coming Soon!!</div><!--<img src="/static/images/champs.png">--><br /><h4>Lord Po'l O' Coileain</h4></td>

                </tr>
                <tr>
                    <td><h3 style="white-space:nowrap">Baronial Arts and Sciences Champion</h3><div style="text-align:center; background-color: #284628; color: #fff; padding-top: 20px; padding-bottom: 20px; padding-left: 2px; padding-right: 2px" class="img-rounded">Image<br />Coming Soon!!</div><!--<img src="/static/images/champs.png">--><br /><h4>Lord Tobias of Granite Mountain</h4>
                    </td>

                </tr>
                <tr>
                    <td><h3 style="white-space:nowrap">Baronial Bardic Champion, Bard of Wonder</h3><div style="text-align:center; background-color: #284628; color: #fff; padding-top: 20px; padding-bottom: 20px; padding-left: 2px; padding-right: 2px" class="img-rounded">Image<br />Coming Soon!!</div><!--<img src="/static/images/champs.png">--><br /><h4> Lady Emma Mordeboice</h4></td>

                </tr>
            </tbody>
        </table>
        
                	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  Former Baronial Champions <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>
                <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title:</th>
                    <th class="col-md-6">Champion:</th>
                </tr>
    		</thead>
            <tbody>
                <tr>
                    <td><label>Baronial Armored Combat Champion</label><br></td>
                    <td>(2016), Lord al-Haddad ibn'Abd al-Jabbar<br />(2015), H.E. Sir Brian Winterbourne<br />(2014), Lord Memnoch of Granite Mountain<br />(2013), Lord Jacob the Dainty<br />(2012), Lord Alaric von Bern<br />(2011), Lord Thaddeus Legolas<br />(2010), Lord Jeuls de Caen </td>
                </tr>
                <tr>
                    <td><label>Baronial Rapier Champion</label><br></td>
                    <td>(2016), Kitajima Ichirou Machiyasu<br />(2015), Lord James Marion<br />(2014), THL Don Robert Delion<br />(2013), Lord Jacob the Dainty<br />(2012), Lord Robert Delion<br />(2011), Lord Felipe Cuervo<br />(2010), Lord Nicholas Allen</td>
                </tr>
                <tr>
                    <td><label>Baronial Cut and Thust Champion</label><br></td>
                    <td>(2016), Lord Rustand Drache<br /></td>
                </tr>
                <tr>
                    <td><label>Baronial Archery Champion</label><br></td>
                    <td>(2016), Lord Edward of Cornwall<br />(2015), Lord William the Gravedigge<br />(2014), Lord Rustand Drache<br />(2013), Lady Ellen Redbootes<br />(2012), Lord Mathys der Pfeilmacher von Bayern (Crymson)<br />(2011), Lord Angus MacLeod<br />(2010), Lady Ellen Redbootes</td>
                </tr>
				<tr>
                    <td><label>Youth Baronial Archery Champion</label><br></td>
                    <td>(2011), Jason the Small</td>
                <tr>

                    <td><label>Baronial Arts and Sciences Champion</label><br></td>
                    <td>(2016), Lady Rose Elizabeth Weaver<br />(2015), Lord Rustand Drache<br />(2014), Lord Sa'id al Sabbah<br />(2013), Lady Eleanor Peregrine<br />(2012), M'lady Milana<br />(2011), Lady Annalena Gianeta da Vicenza<br />(2010), Lord Angus MacLeod</td>
                </tr>		
                <tr>
                    <td><label>Youth Baronial Arts and Sciences Champion</label><br></td>
                    <td>(2011), Jason the Small & Jasmine</td>
                <tr>
                <tr>
                    <td><label>Baronial Bardic Champion, Bard of Wonder</label><br></td>
                    <td>(2016), Lady Sybil Thomasin Josina Ragland<br />(2015), H.E. Lia Winterbourne<br />(2014), Lady Ro's inghean Ui Ghallchobhair<br />(2013), Lady Sybil Thomasin Josina Ragland<br />(2012), M'lady Kyla<br />(2011 Premiere), Lord Ingvar Bedbreaker<br /></td>
                </tr>
            </tbody>
        </table>
        </div>
	</div>
</div>
<!--End Page Content -->
{% endblock %}
