{% extends "base.html" %}

{% block title %}BGM - Baronial Court{% endblock title %} 

 
{% block content %}
<!--Calendar Page Content -->
<div class="panel panel-default">
  	<div class="panel-body">   
    <div  style="max-width:40em; margin:auto; padding:0 1em;">     
                	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  Granite Court  <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>
                    
        <table class="table table-striped">
            <thead>
                <tr>
                	<!--<th></th>-->
                    <th>Title:</th>
                    <th class="col-md-6">Court member:</th>
                </tr>
    		</thead>
            <tbody>
                <tr>
                	<!--<td><img src="\static\images\BGMLogo-sm.png" style="height: 80px;"></td>-->
                    <td><img src="/static/images/ladies-sm.png" style="position: absolute; width: 70px; margin-left: -93px; margin-top: -10px">
                    <img src="/static/images/ladies-sm.png" style="position: absolute; width: 70px; margin-left: 540px; margin-top: -10px">
                    <label>Chief Lady in Waiting</label>
                    <br></td>
                    <td>Lady Camere de Misericordia</td>
                </tr>
                <tr>
                    <td><label>Ladies in Waiting</label><br></td>
                    <td>Lady Cynthia de la Dale<br>Lady Ro's Ingen ui Ghallchobhair<br>Lady Adrienne Noel deLorrain<br>Lady Caiterina MacCraith<br />Lady Sybil Thomasin Josina Ragland</td>
                </tr>
                <tr>
                    <td><label>Junior Lady in Waiting</label><br></td>
                    <td>M'lady Astrid</td>
                </tr>
                <tr>
                    <td><label>Honorary Ladies in Waiting</label><br></td>
                    <td>Lady Naila al Allya<br>Lady Bija</td>
                </tr>
                <tr>
                    <td><img src="/static/images/guards-sm.png" style="position: absolute; width: 70px; margin-left: -93px; margin-top: -10px">
                    <img src="/static/images/guards-sm.png" style="position: absolute; width: 70px; margin-left: 540px; margin-top: -10px">
                    <label>Captain of the Guard</label><br></td>
                    <td>Lord Po'l McCoilean</td>
                </tr>
                <tr>
                    <td><label>Guardsmen</label><br></td>
                    <td>Lord Al-Haddad ibn 'Abdal Jabbar<br>Lord Kitajima Ichirou Matai<br>Lord Kita Jirou Michigane<br>His Lordship Don Robere deLion<br />M'lord Carl<br />M'lord Dalbach Mac Olcan</td>
                </tr>
                <tr>
                    <td><label>Junior Guardsmen</label><br></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>Honorary Guardsmen</label><br></td>
                    <td>Lord Andrew of Granite Mountain<br>Lord Kristoforus Jafnkollr<br>( Bagdad, AZ) M'lord Toby<br>( Bagdad, AZ) Lord William<br>( Bagdad, AZ) Lord Eric Edgarson.</td>
                </tr>
                <tr>
                    <td><img src="/static/images/companion-gold-sm.png" style="position: absolute; width: 70px; margin-left: -93px; margin-top: -10px">
                    <img src="/static/images/companion-sm.png" style="position: absolute; width: 70px; margin-left: 540px; margin-top: -10px">
                    <label>Court Companions</label><br></td>
                    <td><div style="white-space:nowrap">Comptesse Caroline Marie de Fontenailles</div>Master Conor de Carlton<br></td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        <br />        
        <br />
        <br />
        <br />
        </div>
	</div>
</div>
<!--End Page Content -->
{% endblock %}
