{% extends "base.html" %}

{% block title %}BGM - Baronial Court{% endblock title %} 

 
{% block content %}
<!--Calendar Page Content -->
<div class="panel panel-default">
  	<div class="panel-body">   
    <div  style="max-width:40em; margin:auto; padding:0 1em;">     
                	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  Granite Court  <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>
                    
        <table class="table table-striped">
            <thead>
                <tr>
                	<!--<th></th>-->
                    <th>Title:</th>
                    <th class="col-md-6">Court member:</th>
                </tr>
    		</thead>
            <tbody>
                <tr>
                	<!--<td><img src="\static\images\BGMLogo-sm.png" style="height: 80px;"></td>-->
                    <td><img src="/static/images/ladies-sm.png" style="position: absolute; width: 70px; margin-left: -93px; margin-top: -10px">
                    <img src="/static/images/ladies-sm.png" style="position: absolute; width: 70px; margin-left: 540px; margin-top: -10px">
                    <label>Chief Lady in Waiting</label>
                    <br></td>
                    <td>Ismeralda Franceska Rusciolelli da Vale</td>
                </tr>
                <tr>
                    <td><label>Ladies in Waiting</label><br></td>
                    <td>Lady Emma Mordeboice<br>Lady Maggie of Granite Mountain<br>Lady Caiterína MacCraith<br>Lady Lilias Marr<br />Lady Rós inghean Uí Ghallchobhair<br />Lady Sybil Thomasin Josina Ragland<br />Lady Beth Drache</td>
                </tr>
                <!--
                <tr>
                    <td><label>Junior Lady in Waiting</label><br></td>
                    <td></td>
                </tr>
                
                <tr>
                    <td><label>Honorary Ladies in Waiting</label><br></td>
                    <td>Lady Naila al Allya<br>Lady Bija</td>
                </tr>
                -->
                <tr>
                    <td><img src="/static/images/guards-sm.png" style="position: absolute; width: 70px; margin-left: -93px; margin-top: -10px">
                    <img src="/static/images/guards-sm.png" style="position: absolute; width: 70px; margin-left: 540px; margin-top: -10px">
                    <label>Captain of the Guard</label><br></td>
                    <td>Lord William Devlin</td>
                </tr>
                <tr>
                    <td><label>Guardsmen</label><br></td>
                    <td>Sir al-Haddad ibn 'Abd al-Jabbar<br>His Lordship Don Robere Delion<br>Lord Ingvarr Orrabein<br>Lord Crow Joyfire<br />Lord Canaan Falconer<br />Lord Eric Edgarson<br />Lord Tobias of Granite Mountain<br />M'lord Deryk of Granite Mountain<br />M'lord Wingnaut Nordman<br />M'lord Gaston Mordeboice<br />M'lord Paul of Granite Mountain</td>
                </tr>
                <!--
                <tr>
                    <td><label>Junior Guardsmen</label><br></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>Honorary Guardsmen</label><br></td>
                    <td>Lord Andrew of Granite Mountain<br>Lord Kristoforus Jafnkollr<br>( Bagdad, AZ) M'lord Toby<br>( Bagdad, AZ) Lord William<br>( Bagdad, AZ) Lord Eric Edgarson.</td>
                </tr>
                <tr>
                    <td><img src="/static/images/companion-gold-sm.png" style="position: absolute; width: 70px; margin-left: -93px; margin-top: -10px">
                    <img src="/static/images/companion-sm.png" style="position: absolute; width: 70px; margin-left: 540px; margin-top: -10px">
                    <label>Court Companions</label><br></td>
                    <td><div style="white-space:nowrap">Comptesse Caroline Marie de Fontenailles</div>Master Conor de Carlton<br></td>
                </tr>
                -->
            </tbody>
        </table>
        <br />
        <br />
        <br />        
        <br />
        <br />
        <br />
        </div>
	</div>
</div>
<!--End Page Content -->
{% endblock %}
