{% extends "base.html" %}

{% block title %}BGM - Who we Are{% endblock title %}

<!--History Page Content -->
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body"><div  style="text-align: justify; max-width:60em; margin:auto; padding:0 1em;">
                           	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  History of the Barony of Granite Mountain  <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>  


<img src="/static/images/legacy2015.png" style="width: 100%; border  : 1px solid #505050;" class="img-rounded">

<h3>Our Lineage</h3>
<p>
The Barony of Granite Mountain is the youngest Barony in the Kingdom of Atenveldt. The 

Barony became the 7th in the Kingdom and is known as “The Seventh Wonder of Atenveldt”. 

Granite Mountain was elevated into Baronial status at Northern War Practice on January 22nd 

of 2011 by Their Royal Majesties, Duke Phelan and Duchess Amirah. The Founding Baron and 

Baroness who were invested that day were HE Sir Brian the Pious and HE Natal’ia Diekova 

Vdova Rabynovicha. Their Excellencies, Brian and Natal’ia reigned over these lands for three 

years. Then at Northern War Practice on January 25th 2014 came the investiture of HE Jacob 

the Dainty and HE Elizabetta de Wallachia, the second Baron and Baroness of Granite 

Mountain. They sat the thrones for three months until unforeseen circumstances forced them to 

step away from their office in March of 2014. It was decided by Their Majesties, Duke Morgan 

and Duchess Livia that they would appoint a Vicar and Vicaress, His Lordship Lutold von 

Sonnenthal and Her Ladyship Elsbeth von Sonnenthal to watch over Granite Mountain until 

such time to elevate a new Baron and Baroness.  They served as Vicar and Vicaress for six 

months. At Champions in the Pines on September 20th 2014, HE Lutold and HE Elsbeth were 

invested as the next Baron and Baroness to reign over the lands of Granite Mountain.
</p>
</div>

<div  style="text-align: justify; max-width:60em; margin:auto; padding:0 1em;">
<h3>Baronial Arms and Motto</h3>

<p>
<a href="/static/images/BGMLogo-med.png" target="_blank"><img src="/static/images/BGMLogo-med.png" style="margin: 5px 0px 0px 5px; width: 180px; float: right;cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;"></a>


The Baronial Arms are blazoned, Per fess indented vert and sable, in chief a laurel wreath Or, a 

bordure erminois. Upon becoming a Barony the arms became commonly displayed in a 

lozenge.
</p>

<p>
<a href="/static/images/coronet.jpg" target="_blank"><img src="/static/images/coronet.jpg" style=" margin: 5px 5px 5px 0px; width: 300px; float: left; position: static; border  : 1px solid #505050; cursor: -moz-zoom-in; cursor: -webkit-zoom-in; cursor: zoom-in;" class="img-rounded"></a>
The lozenge shape is also echoed in the design of the Baronial Coronets. Often seen 

as a supporter for our Baronial Arms is the Ermine (animal). Much like the Ermine that is used 

as the border of the Baronial arms, the Ermine is the symbol that surrounds, supports, and 

protects Granite Mountain. Ermines or (stoats) are a member of the weasel family and are 

ferocious hunters. Their fur is of a pure winter white with a distinctive black tip on their tail. In 

heraldic tincture, the spots represent the dark tips of the ermines’ tails, and are usually 

elaborated into short vertical lines with small curved projections often with 3 smaller dots above.

The Ermine along with the Ermine spots are unique to our Barony in the Kingdom and is 

commonly used for baronial regalia, baronial awards, etc. Our Barony motto is “Quam Nos 

Volvamos”, which is Latin for “That’s How We Roll”. The motto was first coined after our first 

Champions of the Pines event on May 18th of 2008, held by the Shire of Granite Mountain. 
</p>
</div>
<div  style="text-align: justify; max-width:60em; margin:auto; padding:0 1em;">
<h3>Granite Mountain Tradition</h3>
<p>
Granite Mountain has a long standing tradition of warm friendly hospitality and feeding 

everyone. It has been said, if you leave a feast in Granite Mountain still feeling hungry, it’s your 

own fault. Our talented cooks have served many delicious delicacies but by far the most sot 

after delight is our “Shire Bread”. This freshly baked bread, stuffed with an amazing mixture of 

secret ingredients has been served in Granite Mountain for a very long time. Those who wish to 

possess the secret recipe must first become a feast steward for a baronial event which the 

bread will be served (BGM’s secret Shire Bread recipe, <a href="#" data-toggle="modal" data-target="#breadModal">click here!</a>).  
</p>
</div>
<!-- Confidential Modal -->
<div class="modal fade" id="breadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 650px;height: 400px;">
      <div class="modal-body"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div style="text-align: center">
            <h3>Top Secret Recipe</h3>
            <img src="/static/images/topsecret.png" style="width: 400px">
            <h4>Did you really think we would just give you the recipe? You will just have to come visit us in the Northlands.</h4>
            </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<br>
<hr>
<br>
<div  style="text-align: justify; max-width:36em; margin:auto; padding:0 1em;">
<a id="anchorlink1"></a>
<h3 style="text-align: center;"><div class="glyphicon glyphicon-music"></div> The Song of Granite Mountain <div class="glyphicon glyphicon-music"></div></h3>
<h4 style="text-align: center; font-style:italic">
Mountain Home

Written by: Syele the Songbird, Given as a gift to Baron Brian the Pious
</h4>
<div style="text-align:center; white-space:nowrap; margin: auto; width: 60%;">
<a style="padding-top: 7px; padding-right: 5px; padding-bottom: 7px; padding-left: 5px;-webkit-appearance: button; -moz-appearance: button; appearance:button; text-decoration:none; color: initial;" href="/static/downloads/TheSongofGraniteMountain.pdf"><div class="glyphicon glyphicon-download"></div> Download Lyrics</a>
<!--<a style="padding-top: 7px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;-webkit-appearance: button; -moz-appearance: button; appearance:button; text-decoration:none; color: initial;" href="http://www.youtube.com" target="_blank"> Watch on <img src="/static/images/YouTube.png" style width="50px"></a>-->
</div>

<br>
<p style="text-align: center; font-weight: bold;">[Chorus]</p>
<p style="text-align: center;">
We are the granite, We are the stone,<br />

We are the family that calls the mountain home.<br />

Together we have built and together we shall stand<br />

and together we defend the dream that makes our kingdom grand.
</p>
<p style="font-style: italic; text-align: center;">-</p>
<p style="text-align: center;">
We welcome all to hearth and hall our meat and mead we give<br />

Honor love and chivalry the codes by which we live<br />

We have fought and we’ve created, we have served and we have shone<br />

And finally it’s come to pass we guard the granite throne.
</p>
<p style="font-style: italic; text-align: center;">Chorus</p>
<p style="text-align: center;">
Our army stands upon the field defending Aten King<br />

On sable golden ermine flies, our silver sword songs ring<br />

We shall hold the line and hold the field with joy and honor bright<br />

And defend all that is ours with passion chivalry and might.
</p>
<p style="font-style: italic; text-align: center;">Chorus</p>
<p style="text-align: center;">
Look around you welcome friends and see the splendor of our hall<br />

To our noble artists raise your glass and thank them one and all<br />

For their skill its sure none can surpass, our hear, our soul, our pride<br />

And the glory of the mountains art sure cannot be denied.
</p>
<p style="font-style: italic; text-align: center;">Chorus</p>
<p style="text-align: center;">
We have built our land with service freely given from our hearts<br />

And the strength of Granite Mountain from us never will depart<br />

Let us raise our glass to family and this merry valiant band<br />

Like the granite strong and stable; like the mountain tall we stand.
</p>
<p style="font-style: italic; text-align: center">Chorus</p>

<br>
</div>
<div style="text-align: center;">
<img src="/static/images/erminespot-med.png" style="height: 35px">
</div>
            </div>
    </div>


{% endblock %}
